body {
    text-align: center;
}
#esc-menu {
	visibility: hidden;
	position: fixed;
	width: 100%;
	height: 100vh;
}
.menu-box {
	height: 100vh;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
}
.menu-box ul {
	padding: 0;
	list-style: none;
}
.menu-box li {
	padding: 5px;
	color: black;
	font-size: 28px;
	font-family: sans-serif;
	background: white;
}
.menu-box li:first-child {
	padding-top: 100px;
}
.menu-box li:last-child {
	padding-bottom: 100px;
}
