body {
    text-align: center;
}
#esc-menu {
	visibility: hidden;
	position: fixed;
	width: 100%;
	height: 100vh;
}
.menu-box {
	height: 100vh;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
}
.menu-box ul {
	padding: 0;
	list-style: none;
	border: 1px solid grey;
}
.menu-box li {
	padding: 5px;
	color: black;
	font-size: 28px;
	font-family: sans-serif;
	text-align: center;
	background: white;
}
.menu-box li:first-child {
	padding-top: 100px;
}
.menu-box li:last-child {
	padding-bottom: 100px;
}
#shop-menu {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	visibility: hidden;
	width: 100%;
	height: 100vh;
	background: white;
	z-index: 1;
}
.shop-container {
	display: flex;
	flex-direction: column;
	text-align: center;
}
.skins {
	display: flex;
	flex-direction: row;
}
.char-container {
	margin: 25px;
	display: flex;
	flex-direction: column;
}

#loserMenuContainer{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    border: black solid 1px;
    display: none;
    justify-content: center;
    align-items: center;
}

.loserMenu{
    height: 450px;
    width: 400px;
    border: black solid 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    background: white;
}

.loserMenu > img{
    height: 118px;
    width: 109px;
}

.loserMenu > button{
    border: black solid 3px;
    background: none;
    display: flex;
    align-items: center;
    font-size: 28px;
    margin-top: 50px;
}

.loserMenu > button:hover{
    background: black;
    color: white;
}

#score{
        position: fixed;
    right: 3%;
    bottom: 7%;
}
